/*Common Rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.ciao {
    height: 600px;
}

.container {
    height: 100%;
    width: 80%;
    border: solid 1px black;
    margin: auto;
    position: relative;
}

.container-center {
    height: 100%;
    border: solid 1px black;
    margin: auto;
    position: relative;
    width: 70%
}

.row {
    height: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.content-line {
    width: 100%;
    border: 1px solid red;
    padding-left: 15px;
    font-size: 12px;
}

.button-blue {
 color: white;
 background-color:rgb(0, 97, 255 );
 padding: 5px 18px;
}


.small-text {
    font-size: 16px;
    font-weight: 500;
}


/*--Header--*/

header {
    height: 82px;
    line-height: 80px;
}


#header-button {
display: inline;
}

nav a {
    color: black;
    display: inline-block;
}

a.hover:hover{
border-bottom: 2px solid black;
}

.menu-left { 
    height: 100%;
    width: 45%;
    float: left;
    
}

.menu-right {
    height: 100%;
    width: 45%;
    float: right;
}

.menu-left li img {
position: relative;
top: 5px;
}

.menu-left ul {
    display: inline-block;
    width: auto;  
}

.menu-left ul li{
    display: inline-block;
    padding-left: 25px;
}

.menu-right ul li {
    display: inline-block;
    float: right;
    padding-right: 25px;
}


/*--Jumbotron--*/

#jumbotron {
    background-color: rgb(180, 208, 231);
    height: 700px;
    padding-top: 5%;
}

#jumbotron h1 {
    font-size: 68px;
}

.container img {
    height: 70%;
    position: absolute;
    right: -5%;
    top: 39%;
}

.content-box  {
    float: left;
    margin-top: 4%;
    width: 40%;
}

.content-box p {
    font-weight: 600;
}

.content-box a {
    display: inline-block;
    margin-top:40px;
    margin-bottom: 10px;
}

#jumbotron .fas {
    margin-top:30px;
}

/*--Fine Jumbotron--*/

/*--Inizio sezione piani di pagamento--*/

.plans {
    padding-top: 10%;

}

.plans h1 {
    margin-bottom: 25px;
    font-weight: 800;
}

.plans span {
    margin-right: 10px;
    font-size: 15px;
}

.plans input {
    vertical-align: middle;
    margin-right:2px
}


.col {
    height: 1000px;
    width: calc(100%/3);
    border: 1px solid grey;
    float: left;
    margin-top: 20px;
}

/*--Regole per gli header delle colonne--*/

.single-plan {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid gray;
    text-align: center;
    line-height:45px;
   
}

.team-plan {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid gray;
    text-align: center;
    line-height: 45px;
}

/*Regole per i contenuti delle colonne*/

.col h1 {
    margin: 20px;
    font-size: 30px;
    font-weight: 800;
}

.col h2 {
   font-size: 24px;
   font-weight: 800;
   margin-left: 20px;
   margin-bottom: 5px;
}

.col .price-text {
    color: grey;
    margin-left: 20px;
    font-size: 18px;
}

.free-try-button {
 color: white;
 font-size: 14px;
 background-color:rgb(0, 97, 255 );
 padding: 5px 40px;
 display: inline-block;
}

