/*Common Rules*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}


.container {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
}

.container::after {
    content: "";
    display:table;
    clear: both;
}

.container-center {
    
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    width: 70%;   
}

.container-center::after {
    content: "";
    display:table;
    clear: both;
}


.row {
    height: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.content-line {
    width: 100%;
    padding-left: 15px;
    font-size: 12px;
}

.plans hr {
    width: 15%;
    margin-left: 15px;
    margin-bottom: 45px;
}

.button-blue {
 color: white;
 background-color:rgb(0, 97, 255 );
 padding: 5px 18px;
}

.long-button-blue{
 color: white;
 background-color:rgb(0, 97, 255 );
 padding: 5px 40px;
}

.white-button {
    border: 1px solid black;
    padding: 5px 40px;
    color: black;
}

.small-text {
    font-size: 16px;
    font-weight: 500;
}

.row.enterprise-header {
    text-align: center;
    border-bottom: 1px solid lightgray;
}


/*--Header--*/

header {
    height: 82px;
    line-height: 80px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    width: 100%;
    z-index: 99999;
}


#header-button {
display: inline;
}

nav a {
    color: black;
    display: inline-block;
}

a.hover:hover{
border-bottom: 2px solid black;
}

.menu-left { 
    height: 100%;
    width: 45%;
    float: left;
}

.menu-right {
    height: 100%;
    width: 45%;
    float: right;
}

.menu-left li img {
position: relative;
top: 5px;
}

.menu-left ul {
    display: inline-block;
    width: auto;  
}

.menu-left ul li{
    display: inline-block;
    padding-left: 25px;
}

.menu-right ul li {
    float: right;
    padding-right: 25px;
}


/*--Jumbotron--*/

#jumbotron {
    background-color: rgb(180, 208, 231);
    height: 700px;
    padding-top: 5%;
}

#jumbotron h1 {
    font-size: 68px;
}

#jumbotron img {
    height: 70%;
    position: absolute;
    right: -5%;
    top: 39%;
}

.content-box  {
    float: left;
    margin-top: 4%;
    width: 40%;
}

.content-box p {
    font-weight: 600;
}

.content-box a {
    display: inline-block;
    margin-top:40px;
    margin-bottom: 10px;
}

#jumbotron .fas {
    color: black;
}

/*--Fine Jumbotron--*/

/*--Inizio sezione piani di pagamento--*/

.plans {
    padding-top: 10%;
}

.plans h1 {
    margin-bottom: 25px;
    font-weight: 800;
}

.plans span {
    margin-right: 10px;
    font-size: 15px;
}

.plans input {
    vertical-align: middle;
    margin-right:2px
}


.col {
    height: 1000px;
    width: calc(100%/3);
    border: 1px solid lightgray;
    float: left;
    margin-top: 20px;
}

/*--Regole per gli header delle colonne--*/

.single-plan {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    line-height:45px;
   
}

.team-plan {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    line-height: 45px;
}

/*Regole per i contenuti delle colonne*/

.col h1 {
    margin: 20px;
    font-size: 30px;
    font-weight: 800;
}

.col h2 {
   font-size: 24px;
   font-weight: 800;
   margin-left: 20px;
   margin-bottom: 5px;
}

.col .price-text {
    color: grey;
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}

.content-line {
    padding-bottom: 20px;
}

.free-try-button {
    color: white;
    font-size: 14px;
    background-color:rgb(0, 97, 255 );
    padding: 5px 40px;
    display: inline-block;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 15px;
}

.purchase-link {
    text-decoration: underline;
    margin-bottom: 30px;
    display: inline-block;
}

.fa-check {
    color:rgb(0, 97, 255 );
}

/*--Regole per Enterprise--*/

.enterprise .container-center {
    border: 1px solid lightgray;
}

.row.enterprise a{
    float: right;
}

.row.enterprise {
    padding: 30px;
}

.row.enterprise h3 {
    margin-bottom:15px ;
}

.row.enterprise h5 {
    margin-bottom: 35px;
}

/*--Regole sezione contact--*/

.contact .container-center {
    border: none;
    margin: 100px auto;
}

.contact img{ 
    height: 400px;
    float: left;
}

.contact .row-right {
    float: left;
    width: 48%;
    margin-top: 20px;
    margin-left: 40px;
}

.row-right h3 {
    margin-bottom: 30px;   
}

.row-right p {
    margin-bottom: 35px;
}

/*--Regole sezione più operazioni--*/


#more-operations img {
    height: 200px;
    margin-left: 30px;
}

#more-operations .content-line {
    width: calc(100%/3);
    float: left;
}

#more-operations h2 {
    margin-bottom: 20px;
}

#more-operations .container-center {
    border: none;
}

/*--Inizio sezione sponsors--*/

.large-container {
    height: 30vw;
    width: 100%;
}

.large-container::after{
    display: table;
    content: "";
    clear: both;
}

#sponsors .container-center {
    margin-top: 100px;
}

#sponsors .container-center h1 {
    width: 41%;
    margin-bottom: 20px;
}

#sponsors a {
    text-decoration: underline;
    font-size: 15px;
    margin-bottom: 35px;
    display: inline-block;
}

#sponsors .left-box {
    height: 30vw;
    width: 30%;
    float: left;
}

#sponsors .right-box {
    height: 30vw;
    width: 30%;
    float: right;
}

#sponsors .content-line {
    padding: 0;
    height: 15vw;
    width: 50%;
    float: left;
}
#sponsors img {
    height: 15vw;
    width: 100%;  
}

#sponsors .text-box {
    height: 30vw;
    width: 40%;
    float: left;
    background-color:rgb(245, 245, 245);
}

/*--Regole per loghi università--*/

#designit {
    background-color: rgb(162, 211, 155);
    border: 8px solid rgb(208, 233, 205);
    padding: 15px;
}

#arizona {
    background-color: rgb(97, 8, 43);
    padding: 40px;
}

#florida {
    background-color: rgb(0, 147, 206);
    padding: 105px 50px;
}

#topps {
    background-color:rgb(255, 28, 28);
    padding: 50px;
}

#bicycle {
    background-color: rgb(213, 0, 31);
    padding: 50px;
}

#hearst-corp {
    background-color: rgb(180, 208, 231);
    padding: 50px;
}

#lonely-planet {
    background-color: rgb(13, 36, 129);
    padding: 50px;
    color: white;
}

#clear-channel {
    background-color: rgb(255, 216, 48);
    padding: 50px;
}


#text-box {
    height: 30vw;
    width: 40%;
    float: left;
    text-align: left;
    background-color: rgb(245, 245, 245);
}

#text-box {
    padding: 30px;
}

#text-box img {
height: 40px;
width: 30%;
margin-bottom: 30px;
}


#text-box hr {
    width: 10%;
}

#text-box p {
    font-size: 16px;
    margin: 40px auto;
}

/*--Regole sezione porta Dropbox Business--*/

#sponsors-bottom {
    background-color: rgb(180, 208, 231);
}


#sponsors-bottom h1{ color:rgb(96, 4, 40);
    font-size: 30px;
    position:absolute;
    top: 35%;
}

#sponsors-bottom .white-button {
    position: absolute;
    top: 35%;
    right: 0;
    background-color: white;
    font-weight: 500;
    border: none;
}

#sponsors-bottom .content-line{
 height: 100%;
 padding: 0;
 width: 50%;
 float: left; 
 position: relative;
}

#sponsors-bottom .container-center {
    height: 250px;
}

/*--Fine regole sezione porta Dropbox Business--*/

/*--Regole sezione Faq--*/

#faq h1 {
    margin-bottom: 35px;
}

#faq .content-line{
   padding: 0;
   border-top: 1px solid lightgray;
   height: 60px;
   line-height: 60px;
   position: relative;
}

#faq i {
    position: absolute;
    right: 20px;
    top: 24px;
}

#faq .last.content-line{
    border-bottom: 1px solid lightgray;
    margin-bottom: 80px;
}

#faq a {
    color: black; 
    font-weight: 700;
    display: inline-block;
}

/*--Regole Footer--*/

/*--Footer--*/

footer {
    background-color: black;
    position: relative;
}

footer .container-center {
    margin-bottom: 0;
    background-color: black;
}

.footer-row {
    float: left;
    width: calc(100%/5);
    margin-bottom: 90px;
}

.footer-row ul li {
    list-style: none;
}

.footer-row ul li a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}

.footer-row h3 {
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 20px;
    color: white;
}

footer hr {
    width: 10%;
    margin-bottom: 50px;
    color: lightgrey;
}

footer .content-line {
    padding: 0px;
}

#language {
    color: grey;
    font-size: 16px;
    margin-bottom: 40px;
    display: inline-block;
}

footer i {
    color: grey;
    margin-bottom: 35px;
}

.fas.fa-sort-up {
    position: relative;
    top: 3px;
}
